
<div class="px-[30px] py-[30px] max-w-[650px] mx-auto">
	<div class="form-reset-password flex flex-col gap-y-[19px]">
		{% form 'reset_customer_password' %}

			<div class="flex flex-col gap-y-[19px]">

				<h3 class="heading-3">{{ 'customer.reset_password.title' | t }}</h3>

				<p class="text-[19px]">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

				{{ form.errors | default_errors }}

				{% comment %} <label for="ResetPassword" class="label-hidden">
					{{ 'customer.reset_password.password' | t }}
				</label> {% endcomment %}
				<input type="password"
					name="customer[password]"
					id="ResetPassword"
					class="w-full border border-green py-[18px] px-[20px] text-[18px] {% if form.errors contains 'password' %}input-error{% endif %}"
					placeholder="{{ 'customer.reset_password.password' | t }}">

				{% comment %} <label for="PasswordConfirmation" class="label-hidden">
					{{ 'customer.reset_password.password_confirm' | t }}
				</label> {% endcomment %}
				
				<input type="password"
					name="customer[password_confirmation]"
					id="PasswordConfirmation"
					class="w-full border border-green py-[18px] px-[20px] text-[18px] {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
					placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

				<input type="submit" class="bg-green text-white py-[18px] px-[20px] text-[18px] uppercase" value="{{ 'customer.reset_password.submit' | t }}">

			</div>
		{% endform %}
	</div>
</div>
