<!doctype html>
    <html
        class="no-js scrollbar-hide"
        lang="{{ request.locale.iso_code }}"
        x-data="{
            isPageReady: false,
            isPasswordOpen : false,
        }"
        x-init="
            setTimeout(() => isPageReady = true, 500);
        "
    >
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {%- unless settings.type_header_font.system? -%}
          <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}

        <title>{{ shop.name }}</title>

        <meta name="description" content="{{ page_description | escape }}">

        {% render 'meta-tags' %}

        {{ content_for_header }}

        {%- unless settings.type_body_font.system? -%}
          <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_header_font.system? -%}
          <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}


        <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
        <script src="{{ 'main.js' | asset_url }}"></script>


      </head>

      <body class="relative font-sans text-white bg-black">
        <div x-show="isPasswordOpen" x-transition.opacity class="fixed inset-0 px-[40px] text-white z-[999] flex flex-col w-full justify-between h-screen justify-center items-center bg-black/95">
            <div class="flex justify-end items-end w-full py-[40px]">
                <button @click="isPasswordOpen = !isPasswordOpen" class="bg-white hover:bg-yellow transition-colors rounded-full w-[38px] h-[38px] items-center flex justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-close {{ class }}"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="flex items-center justify-center flex-1">
                <div class="flex flex-col items-center justify-center space-y-[40px]">
                    <h2 class="font-medium text-center" id="DialogHeading">
                        {{ 'general.password_page.login_form_heading' | t }}
                    </h2>
                    {%- form 'storefront_password', class: 'password-form' -%}
                        <div class="flex w-full space-x-[10px]">
                            <div class="flex space-y-[10px] {% if form.errors %} password-field--error{% endif %}">
                                <input
                                    type="password"
                                    name="password"
                                    id="Password"
                                    class="text-white transition-all focus:bg-white/10 focus:outline-none px-[25px] w-full placeholder-white bg-transparent border p-[10px] border-white rounded-full"
                                    autocomplete="current-password"
                                    {% if form.errors %}
                                    aria-invalid="true"
                                    aria-describedby="PasswordLoginForm-password-error"
                                    {%- endif -%}
                                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                                >
                                {%- if form.errors -%}
                                    <div id="PasswordLoginForm-password-error" role="status">
                                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                    <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                                    </div>
                                {%- endif -%}
                                </div>
                                <button name="commit" class="min-w-[100px] flex items-center justify-center flex-1 text-black transition-colors bg-white rounded-full hover:bg-yellow">
                                {{ 'general.password_page.login_form_submit' | t }}
                                </button>
                        </div>
                    {%- endform -%}
                    <small class="opacity-50">{{ 'general.password_page.admin_link_html' | t }}</small>
                </div>
            </div>
        </div>
        <main id="MainContent" :class="{ '!opacity-100' : isPageReady}" class="opacity-0 transition-opacity duration-500 delay-200  flex flex-col justify-between w-full min-h-screen z-20 px-[40px]">
        {% section 'main-password-header' %}

          {% comment %} {{ content_for_layout }} {% endcomment %}
            <div class="flex items-center justify-center flex-1">
                {%- if shop.password_message != blank -%}
                    <div class="max-w-[750px] mx-auto space-y-[20px] flex flex-col">
                        <div class="text-[48px] leading-[52px] lg:text-[56px] lg:leading-[60px] font-medium text-center ">
                            {{ shop.password_message }}
                        </div>
                        <div class="flex items-center space-y-[10px] flex-col justify-center">
                            <p>Enter your email to be notified.</p>
                            {% form 'customer', class: 'newsletter-form' %}
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="newsletter-form__field-wrapper">
                                  <div class="flex space-x-[10px] w-full">
                                    <input
                                      id="NewsletterForm--{{ section.id }}"
                                      type="email"
                                      name="contact[email]"
                                      class="text-white flex-1 lg:w-[500px] transition-all focus:bg-white/10 focus:outline-none px-[25px] w-full placeholder-white bg-transparent border p-[10px] border-white rounded-full"
                                      value="{{ form.email }}"
                                      aria-required="true"
                                      autocorrect="off"
                                      autocapitalize="off"
                                      autocomplete="email"
                                      {% if form.errors %}
                                        autofocus
                                        aria-invalid="true"
                                        aria-describedby="Newsletter-error--{{ section.id }}"
                                      {% elsif form.posted_successfully? %}
                                        aria-describedby="Newsletter-success--{{ section.id }}"
                                      {% endif %}
                                      placeholder="{{ 'newsletter.label' | t }}"
                                      required
                                    >
                                    <button type="submit" class="shrink-0 bg-black hover:bg-yellow transition-colors rounded-full w-[58px] h-[58px] items-center flex justify-center" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                                        <div class="w-[24px]">
                                            {% render 'icon-arrow' %}
                                        </div>
                                    </button>
                                  </div>
                                  {%- if form.errors -%}
                                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                                  {%- endif -%}
                                </div>
                                {%- if form.posted_successfully? -%}
                                  <h3 class="text-center pt-[10px]" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
                                {%- endif -%}
                              {% endform %}
                        </div>
                    </div>
                {%- endif -%}

            </div>
            <footer :class="{ '!opacity-100' : isPageReady}" class="z-20 transition-opacity duration-500 opacity-0">
                {% section 'main-password-footer' %}
            </footer>
        </main>
      </body>
    </html>
