<section class="p-[30px] border-green flex">
    <h2 class="heading-1">Legal</h2>
</section>

<div class="hidden">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'legal-item' -%}
                <div>{{ block.settings.heading }}</div>
                <div>{{ block.settings.content }}</div>
        {% endcase %}
    {% endfor %}
</div>

<div x-data="{ activeTab: 1 }" class="grid grid-cols-1 border-t md:divide-x md:grid-cols-2 divide-green border-green">
    <div class="flex flex-col">
        {% for legalType in section.blocks %}
            <button @click="activeTab = {{ forloop.index }}" :class="activeTab == {{ forloop.index }} ? 'opacity-100' : 'opacity-[0.5]'" class="uppercase text-[30px] transition-colors ease-in-out duration-700 leading-[30px] p-[30px] text-left border-b border-green">{{ legalType.settings.heading }}</button>
        {% endfor %}
    </div>
    {% for legalContent in section.blocks %}
        <div x-show="activeTab == {{ forloop.index }}" class="flex flex-col p-[50px] gap-y-[30px]">
            {{ legalContent.settings.content }}
        </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Legal",
    "blocks": [
        {
            "type": "legal-item",
            "name": "Legal Item",
            "limit": 10,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Legal"
        }
    ]
}
{% endschema %}
